<h1> Please enter the names players. </h1>
<form method="post" action="/play">
  <p> First player </p>
  <input type="text" name="player_1_name" title="First_player" />
  <p> Second player </p>
  <input type="text" name="player_2_name" title="Second_player"/>
  <br>
  <br>
  <input type="submit" value="Submit" />
</form>
